@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}

section#leaderboard {
    background-color: #f5f5f5;
    padding: 2rem;
}

section#leaderboard h1 {
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

section#leaderboard h1 img {
    height: 6rem;
    width: 6rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    filter: drop-shadow(0 0 0.25rem #000000);
}

section#leaderboard h1 button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

section#leaderboard h1 button:disabled {
    background-color: transparent;
    color: #000000;
    cursor: not-allowed;
}

.views {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    gap: 2rem;
}

.leaderboard-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f5f5f5;
    gap: 2rem;
    text-decoration: none;
    color: #000000;
}

.leaderboard-card:hover {
    background-color: #ffffff;
    transition: all 0.3s;
    box-shadow: 0 0 1rem #000000;
    border-radius: 1rem;
}

.leaderboard-card .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.leaderboard-card .details > * {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard-card h2 {
    font-size: 1.5rem;
    opacity: 0.5;
}

.leaderboard-card .details .data, .leaderboard-card .details .stats{
    width: 50%;
}

.leaderboard-card .details > .data {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
}

.leaderboard-card .details .image {
    min-width: 6rem;
    max-width: 8rem;
}

.leaderboard-card .details .image img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1rem;
}

.leaderboard-card .details > .data .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.leaderboard-card .details > .data .info .name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.leaderboard-card .details > .data .info .name h1 {
    font-size: 3rem !important;
    font-weight: 900;
    line-height: 2rem;
    text-align: left;
}

.leaderboard-card .details > .data .info .name .real-name {
    text-align: left !important;
    text-wrap: nowrap;
}

.leaderboard-card .details > .data .info .name h2 {
    font-size: 2rem;
    opacity: 0.5;
}

.leaderboard-card .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
}

:not(:has(.leaderboard-card)) .list-view::after {
    content: 'Getting data, this may take a while...';
    font-size: 2rem;
    opacity: 0.5;
    animation: pulse 2s infinite;
}

@media (max-width: 1024px) and (min-width: 381px) {
    section#leaderboard {
        padding: 1rem;
    }

    section#leaderboard h1 {
        font-size: 2rem;
        gap: 0.5rem;
    }

    section#leaderboard h1 img {
        height: 4rem;
        width: 4rem;
    }

    section#leaderboard h1 button {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    .views {
        padding: 1rem;
    }

    .list-view {
        width: 100%;
        padding: 1rem;
        border-radius: 2rem;
    }

    .leaderboard-card {
        flex-direction: column;
        gap: 1rem;
        border-radius: 1.5rem;
    }

    .details {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .details > * {
        width: 100% !important;
    }

    .leaderboard-card .image {
        width: 100%;
    }

    .leaderboard-card .details > .data {
        width: 100%;
        overflow: hidden;
    }

    .leaderboard-card .details .image {
        min-width: 4rem;
        max-width: 6rem;
    }
    
    .leaderboard-card .details > .data .name {
        width: 100%;
        align-items: center;
        overflow: hidden;
    }

    .leaderboard-card .details > .data .info .name h1 {
        font-size: 2rem !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .leaderboard-card .details > .data .info .name h2 {
        font-size: 1.5rem;
    }

    :not(:has(.leaderboard-card)) .list-view::after {
        font-size: 1rem;
    }
}

@media (max-width: 380px) and (min-width: 251px) {
    section#leaderboard {
        padding: 1rem;
    }

    section#leaderboard h1 {
        font-size: 1.5rem;
        gap: 0.5rem;
    }

    section#leaderboard h1 img {
        height: 3rem;
        width: 3rem;
    }

    section#leaderboard h1 button {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
    }

    .views {
        padding: 1rem;
    }

    .list-view {
        width: 100%;
        padding: 1rem;
        border-radius: 2rem;
    }

    .leaderboard-card {
        flex-direction: column;
        gap: 1rem;
        border-radius: 1.5rem;
    }

    .details {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }

    .details > * {
        width: 100% !important;
    }

    .leaderboard-card .image {
        width: 100%;
    }

    .leaderboard-card .details > .data {
        width: 100%;
        overflow: hidden;
    }

    .leaderboard-card .details .image {
        min-width: 4rem;
        max-width: 6rem;
    }
    
    .leaderboard-card .details > .data .name {
        width: 100%;
        align-items: center;
        overflow: hidden;
    }

    .leaderboard-card .details > .data .info .name h1 {
        font-size: 2rem !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .leaderboard-card .details > .data .info .name h2 {
        font-size: 1.5rem;
    }

    :not(:has(.leaderboard-card)) .list-view::after {
        font-size: 1rem;
    }

    .leaderboard-card .stats {
        flex-direction: column;
    }
}

@media (max-width: 250px) {
    body {
        display: none;
    }

    html::after {
        content: 'This website is not supported on devices with a screen width of less than 250px.';
        font-size: 2rem;
        opacity: 0.5;
        animation: pulse 2s infinite;
    }
}

