@import url('/res/styles/leaderboard.css');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, bold, strong {
    font-family: 'Londrina Solid', sans-serif;
}

